html,body {
    width: 100%;
    height: 100%;
    position: relative; 
}
body {
    overflow: hidden;
    margin: 0;
    position: absolute;
    top: 0;
}

.section {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index:0; 
}

#content {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    -webkit-transform: translateZ( 0 );
    -moz-transform: translateZ( 0 );
    -ms-transform: translateZ( 0 );
    transform: translateZ( 0 );

    -webkit-transition: -webkit-transform 300ms ease-in-out;
    -moz-transition: -moz-transform 300ms ease-in-out;
    -ms-transition: -ms-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
