
/********************************************* Tags *****************************************/

@keyframes white-shadow {
    from { text-shadow: 0 0 0px #FFFFFF; }
    50% { text-shadow: 0 0 15px #FFFFFF; }
    to { text-shadow: 0 0 0px #FFFFFF; }
}

@-moz-keyframes white-shadow {
    from { text-shadow: 0 0 0px #FFFFFF; }
    50% { text-shadow: 0 0 15px #FFFFFF; }
    to { text-shadow: 0 0 0px #FFFFFF; }
}

@-o-keyframes white-shadow {
    from { text-shadow: 0 0 0px #FFFFFF; }
    50% { text-shadow: 0 0 15px #FFFFFF; }
    to { text-shadow: 0 0 0px #FFFFFF; }
}

@-webkit-keyframes white-shadow {
    from { text-shadow: 0 0 0px #FFFFFF; }
    50% { text-shadow: 0 0 15px #FFFFFF; }
    to { text-shadow: 0 0 0px #FFFFFF; }
}

@keyframes black-shadow {
    from { text-shadow: 0 0 0px #000000; }
    50% { text-shadow: 0 0 15px #000000; }
    to { text-shadow: 0 0 0px #000000; }
}

@-moz-keyframes black-shadow {
    from { text-shadow: 0 0 0px #000000; }
    50% { text-shadow: 0 0 15px #000000; }
    to { text-shadow: 0 0 0px #000000; }
}

@-o-keyframes black-shadow {
    from { text-shadow: 0 0 0px #000000; }
    50% { text-shadow: 0 0 15px #000000; }
    to { text-shadow: 0 0 0px #000000; }
}

@-webkit-keyframes black-shadow {
    from { text-shadow: 0 0 0px #000000; }
    50% { text-shadow: 0 0 15px #000000; }
    to { text-shadow: 0 0 0px #000000; }
}

.fa-cloud.white {
    animation: white-shadow 4s infinite running;
    -o-animation: white-shadow 4s infinite running;
    -moz-animation: white-shadow 4s infinite running;
    -webkit-animation: white-shadow 4s infinite;
    -webkit-animation-play-state: running;
}

.fa-cloud.black {
    animation: black-shadow 4s infinite running;
    -o-animation: black-shadow 4s infinite running;
    -moz-animation: black-shadow 4s infinite running;
    -webkit-animation: black-shadow 4s infinite;
    -webkit-animation-play-state: running;
}
/*blockquote { 
    border-left: 0px;
}

blockquote footer, 
blockquote small, 
blockquote .small {
    color: #fff;
}*/

html {
    height: 100%;
    width: 100%;
}

html::-webkit-scrollbar { 
    display: none; 
}

body {
    font-size: 14px !important;
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar { 
    display: none; 
}

/*body>p {
    margin: 0;
}*/

h2 {
    font-size: 30px;
}

input, button, select, textarea {
    font-family: 'RobotoRegular';
}

/*label {
    margin: 15px 0 5px 0;
}*/

tspan.strong, 
.title strong {
    font-family: 'RobotoCondensedBold';
}

ul {
    padding: 0;
}

/*ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

ul #header-logo {
    display: none;
}*/

strong {
    font-family: 'RobotoBold';
}

/**************************************************** Classes ****************************************************/

/*.attachment-post-thumbnail {
    float: right;
}*/

/*.back-to-top,
.back-to-topRight {
    background: transparent;
}*/

/*.backgroundColor:hover { 
    background: #f00;
}*/

.bars {
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    display: none;
    float: right;
    height: 50px;
    margin: 10px 20px;
    width: 27px;
}

.bars.black {
    background-image: url('../img/menu-black.png');
}

.bars.white {
    background-image: url('../img/menu-white.png');
}
/*.btn.btn-default {
    background-color: transparent;
}*/

.case-to-top {
    background-position: 50% 0;
    background-repeat: no-repeat;
    text-align: center;
}

.case-to-top.main-block,
.case-to-top.sub-block {
    color: #FFFFFF;
}

.case-to-top.sub-block .overlay {
    background: rgba(0, 0, 0, 0.5);
}

.case-to-top .title {
    color: transparent;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    display: none;

}

.case-to-top h2,
.case-to-top .central-button {
    color: #FFFFFF;
}

.case-to-top h1,
.case-to-top h2,
.landing-header h1,
.case-to-top .svg-title text,
.case-to-top rect {
    font-family: 'RobotoMedium';
    text-transform: uppercase;
}

.case-to-top h1,
.case-to-top .svg-title,
.case-to-top .svg-title text,
.case-to-top rect {
    font-size: 65px;
    font-weight: 500;
    height: 58px;
    line-height: 58px;
    text-anchor: middle;
}

.case-to-top .svg-title {
    padding: 0 5pt;
}

.case-to-top h2 {
    margin: 0;
    text-align: center;
    width: 100%;
}

.case-to-top h2.bottom {
    bottom: 38pt;
    top: auto;
}

.case-to-top .central-button {
    background: transparent;
}

.case-to-top.sub-block {
    padding: 0;
}

.case-to-top.sub-block .bottom {
    position: absolute;
}

.case-to-top.sub-block .subtitle {
    margin-top: 10px;
}

.case-to-top.sub-block .title {
    padding: 0;
}

.case-to-top.sub-block h2 {
    font-family: 'RobotoRegular';
}

.case-to-top.sub-block h2 {
    text-transform: none;
    padding: 0;
}

.case-to-top.sub-block h2.bottom {
    bottom: 8vh;
    left: 0;
    padding: 0 10px;
    top: auto;
    width: 100%;
}

.case-to-top.sub-block h2.subtitle {
    font-size: 20px;
    margin: 10px;
    width: calc(100% - 20px);
}

.case-to-top.sub-block .svg-title {
    /*margin: 0 10px;*/
}

.case-to-top#block1 .central-button {
    /*margin-top: 30vh;*/
    position: absolute;
    bottom: 15vh;
    left: calc(50% - 70pt);
}

.case-to-top#block1 {
    /*padding-top: 40vh;*/
}

/*.cbp-qtcontent img {
    height: auto;
} 

.cbp-qtrotator blockquote p {
    color: #fff;
}*/

.central-button {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin: 3px auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 140pt;
    /*z-index: 50;*/
}

.central-button, 
.central-button .overlay {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-family: 'RobotoRegular';
    font-size: 14px;
}

.case-to-top#block1 h2 {
    padding-top: 10px;
}

.central-button .overlay {
    background: #FFFFFF;
    color: #000000;
    height: 0;
    min-height: 0;
    overflow: hidden;
    width: 100%;
    /*z-index: 200;*/
}

/*.col-md-4 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}*/

.contact-overlay {
    position: fixed !important;
}

/*.development.skill {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}*/

/*.dropdown-menu {
    left: -7em;
    z-index: 4;
}

.dropdown-menu>li>a {
    text-align: left;
}

.dropdown-toggle {
    color: #fff !important;
}*/

.case-to-top.main-block .fp-tableCell, .case-to-top.sub-block .fp-tableCell {
    /*height: auto;*/
    overflow: hidden;
    position: relative;
}

.from-blog {
    display: table-cell;
    vertical-align: middle;
}

.from-blog .header {
    font-size: 15px;
    text-transform: uppercase;
}

.from-blog .last-posts {
    margin: 15px 0 20px;
    width: 70%;
}

.from-blog .post {
    margin-bottom: 10px;
}

.from-blog .post h1 {
    font-size: 19px;
    margin: 1% 0 0 0;
}

.from-blog .post h1 a:hover,
.from-blog .post .post-category:hover {
    text-decoration: underline;
}

.from-blog .post .post-category {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 15px;
}

.from-blog .post .post-date {
    font-size: 13px;
}

.hidden-info {
    display: none;        
}

.imgQuit, 
.searchQuit { 
    background: url('/vendor/KOLLEKT.FM/close@2x.png') no-repeat 1px -45px;
    background-size: 45px 135px;
    cursor: pointer;
    height: 46px;
    width: 48px;
}

.landing embed {
    width: 100%;
    height: 100%;
}

.landing-header {
    margin: 0 21.5%;
    position: absolute; 
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    /*top: 25vh; */
    width: 57%; 
}

.landing-header h1 {
    font-size: 65px;
    font-weight: 500;
    margin: 10px 0 5px;
}

.landing-header h1,
.landing-header h2 {
    text-align: center;
}

.landing-header h2 {
    margin: 0;
}

.landing-header h2:last-of-type {
    font-size: 20px;
}

.last-twits {
    margin-top: 35pt;
    width: 100%;
}

.loading {
    background: #FFFFFF;
    opacity: 1;
}

.loading .spinner-holder {
    left: 45%;
    height: 10%;
    top: 45%;
    width: 10%;
}

.loading-text {
    color: #d1d1d1;
    margin: 10px;
    font-family: 'RobotoRegular';
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.last-twits .twit:nth-child(2n) .twit-content {
    background: url('../img/talk.png') no-repeat 35.5vw 0;
    background-size: 20pt;
    padding: 20px 8vw 20px 0;
    text-align: right;
}

.last-twits .twit:nth-child(2n) .twit-content img {
    width: 20px;
}

.last-twits .twit:nth-child(2n) .twit-content img {
    display: inline;
}

.last-twits .twit:nth-child(2n) .twit-content .right-quote {
    margin: 0 0 -20px 10px;
}

.last-twits .twit:nth-child(2n) .twit-content .left-quote {
    margin: -20px 10px 0 0;
}

.last-twits .twit:nth-child(2n+1) .twit-content img {
    display: none;
}

.last-twits .twit:nth-child(2n+1) .twit-content {
    background: url('../img/twit.png') no-repeat 7.5vw 0;
    background-size: 20pt;
    padding: 20px 0 20px 9.5vw;
}

.last-twits .twit-content, 
.last-twits .twit-content a {
    /*font-family: 'ProximaNovaAltItalic';*/
    font-size: 20px;
    font-style: italic;
}

.last-twits .twit-content a {
    color: #FFFFFF;
}

.last-twits .twit-content a:hover {
    text-decoration: underline;
}

.main-block,
.main-block>.opacity {
    height: 100%;
    position: relative;
    width: 100%;
}

.main-footer {
    background-size: cover !important;
    box-sizing: content-box;
    color: #646464;
    font-size: 14px;
    height: auto;
    min-height: 100%;
    overflow: auto;
    width: 100%;
}

.main-footer .form-content, 
p.sml_feedback {
    width: 100%;
    margin: 10px 0;
}

.main-footer input:-webkit-autofill {
    background: #646464 !important;
    color: #646464;
}

.main-footer .sitemap {
    width: 40%;
}

.main-footer .sitemap ul {
    margin: 0;
}

.map {
    margin: 0;
}

.map iframe {
    border: 0;
    width: 100%;
    height: 475px;
}

.map-title {
    background: #fe4419;
    color: #FFF;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.menu-item {
    display: block;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
    width: auto !important;
}

.menu-item a {
    font-family: 'RobotoRegular' !important;
}

.menu-case-studies {
    padding: 0;
    margin-bottom: 20px;
}

.menu-item .fa-angle-down {
    visibility: hidden;
}

.navbar {
    background: none;
    border: none;
    display: inline-block;
    height: 47px;
    margin: 0;
    min-height: 0;
}

.navbar-nav {
    margin: 0px -15px 0px 0px;
}

.navbar-nav>li>a {
    padding: 1px;
    line-height: 0px;
}

.navbar-nav>li>.dropdown-menu {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.overlay {
    bottom: 0;
    height: 100%;
    left: 0;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; 
}

.page-heading {
    font-size: 42px;
    font-weight: 700;
    line-height: 43px;
    word-wrap: break-word;        
}

.page-heading-alt {
    word-wrap: break-word;
}

.page-section {
    padding: 75px;
}

.page-section .holder {
    padding: 15px 0;
    width: 90%;
}

.preview-container {
    cursor: pointer;
    height: 80%;
    padding: 25px;
}

.preview-container, 
.preview-footer {
    width: 100%;
}

.preview-footer {
    background-size: 9%;
    height: 20%;
    padding-right: 20px;
    text-align: right;
}

.preview-footer a { 
    color: rgb(100, 100, 100) !important;
    display:inline-block !important; 
    font-size: 1.2vw !important;
    font-weight: 700;
    vertical-align:middle; 
}

.rb-close {
    right: 1.7em;
}

.rb-close::before {
    content: none;
}

.rb-grid {
    padding: 0;
}

.rb-grid li {
    margin: 0;
}

.rb-grid li h3 {
    font-size: 24px;
    text-align: center;
}

.rb-week {
    overflow-y: auto;
}

.required-field {
    color: #F00;
}

.round-button {
    -moz-border-radius: 20px;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -webkit-border-radius: 20px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-variant: small-caps;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;
}

.round-button:hover {
    background: #fff;
}

.round-button:hover, 
.round-button:hover a {
    color: #333;
}

.row {
    margin: 0;
}

.sc_menu a {
    text-decoration: none;
}

.sc_menu a:hover img {
    filter:alpha(opacity=50);     
    opacity: 0.5;
}

.sc_menu a:hover span {
    display: block;
}

.sc_menu img {
    border: none;
}

.sc_menu li {
    cursor: pointer;
    display: block;
    float: left;        
    padding: 0 20px;
}

.sc_menu span {
    color: #fff;
    display: none;
    font-size: 12px;        
    line-height: 40px;
    margin-top: 3px;
    text-align: center;
}

.sc_menu ul {
    display: block;
    height: 100%;
    list-style: none;
    margin: 0; 
    padding: 0;
    width: 1000%;    
}

.site-menu {
    margin: 0;
    padding: 0;
}
 
.sml_email, 
.sml_email button[type="submit"], 
.sml_email input[type="text"] {
    display:table-cell;
}

.sml_email button[type="submit"] {
    -moz-border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    color: #fff;
    height: 48px;
    float: right;
    font-size: 22px;
    width: 48px;
}

.sml_email input[type="text"] {
    -moz-border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    border: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    color: #646464;
    float: left;
    font-size: 16px;
    height: 48px;
    outline: none;
    padding: 10px;
    width: calc(100% - 48px);
}

.sml_email input[type="text"]:focus {
    outline: none;
}

.sml_email [type="submit"] {
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
    background-color: #c4dd1e;
    border: none;
    color: #5b6708 !important;
    cursor: pointer;
    display: block;
    float: right;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.sml_email [type="submit"]:active,
.sml_email [type="submit"]:hover {
    background-color: #b2cc04;
    text-decoration: none;
}

.sml_submitbtn {
    color: #fff !important;
    font-size: 45px;
    height: 106px;
}

.sml_submitbtn:active, 
.sml_submitbtn:focus, 
.sml_submitbtn:hover,
.sml_submitbtn:visited {
    outline:none;
}

.sml_subscribe {
    position: relative;
}

.sml_subscribe input {
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
}

.subscribe2categories {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff;
    border: 1px solid #646464;
    border-radius: 3px;
    color: #646464;
    display: none;
    height: 50%;
    left: 100px;
    padding: 0 20px;
    position: fixed;
    top: 100px;
}

.subscribe2categories .round-button {
    margin: 0 20px;
}

.subscribe2categories span {
    padding: 0 20px;
}

.subscribe2categories .view-more {
    bottom: 0;
    left: 0;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
}

.case-to-top .title-container {
    padding: 0 10px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.case-to-top .svg-title {
    margin: 0 auto;
    padding: 0;
    max-width: 95vw;
}

.social-icon a {
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    font-size: 20px;
}

.topHeaderQuit {
    right : 10px;
    top: 10px;
}

.topHeaderQuit, 
.topHeaderSearch {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #DDD;
    border-radius: 5px;
    color     : #f00; 
    filter    : alpha(opacity=90);
    height: 46px;
    opacity : 0.9;
    position: fixed;    
    text-align: center;
    text-decoration: none;
    top : 0px;
    width: 48px;
    z-index : 1101;
}

.topHeaderQuit:hover, 
.topHeaderSearch:hover {
    background-color: #777;
}

 .ui-autocomplete-category {
    font-family: 'OpenSansBold';
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.view-more {
    background: #000;
    height: 70px;
    padding: 13px 0px;
    text-align: center;
}

.wpcf7-form.sent input {
    display: inline-block !important;
}

.wpcf7-form.sent #contact-submit {
    display: block !important;
}

/*********************************************** IDs ******************************************/

#about, 
#carousel, 
#map, 
#MyServices, 
#work {
    padding: 0;
}

#carousel {
    background: transparent !important;
    bottom: 0;
    height: 115px;
    /*height: 120px;*/
    margin-bottom: 5pt;
    position: absolute;
    width: 100vw;

    overflow: hidden;
    /*width: calc(100% + 100px);*/
}

#carousel .carousel-container {
    background: transparent !important;
    height: 50px;
    /*height: 120px;*/
    /*left: 0;*/
    /*line-height: 120px;*/
    /*position: absolute;*/
    
    /*-webkit-transition: 12s linear infinite;
    -moz-transition: 12s linear infinite;
    -ms-transition: 12s linear infinite;
    -o-transition: 12s linear infinite;
    transition: 12s linear infinite;*/
}

/*#carousel .carousel-container.move {
    transform: translate(100%,0);
    -webkit-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    -moz-transform: translate(100%,0);
}*/

#carousel img {
    /*margin: 0 2px;*/
    width: 100px;
}

#contact {
    background: transparent !important;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    width: 70%;
}

#contact h4 p {
    font-size: 70px;
    font-family: 'RobotoMedium';
}

#contact form p:nth-of-type(1),
#contact form p:nth-of-type(2) {
    border-bottom: 2px solid #FFFFFF !important;
    display: block;
    float: left;
    text-align: center;
    width: calc(50% - 17px);
}

#contact form p:nth-of-type(1) {
    margin-right: 30px;
}

#contact form p:nth-of-type(3) {
    float: left;
    width: calc(100% - 70px);
}

#contact form p:nth-of-type(3),
#contact form p:nth-of-type(4) {
    height: 132px;
    margin: 35pt 0 0 !important;
}

#contact form p ::-webkit-input-placeholder {
    color: #FFFFFF;
    font-family: 'RobotoMedium';
}

#contact form p :-moz-placeholder {
    color: #FFFFFF;
    font-family: 'RobotoMedium';
}

#contact form p ::-moz-placeholder {
    color: #FFFFFF;
    font-family: 'RobotoMedium';
}

#contact form p :-ms-input-placeholder {  
    color: #FFFFFF;
    font-family: 'RobotoMedium';
}

#contact span.wpcf7-not-valid-tip {
    display: inline;
    vertical-align: super;
    font-size: 80%;
}

#contact span.wpcf7-not-valid-tip:before { 
    content: "*" 
}

#contact form p:nth-of-type(3) ::-webkit-input-placeholder {
    color: #4a3115;
}

#contact form p:nth-of-type(3) :-moz-placeholder {
    color: #4a3115;
}

#contact form p:nth-of-type(3) ::-moz-placeholder {
    color: #4a3115;
}

#contact form p:nth-of-type(3) :-ms-input-placeholder {  
    color: #4a3115;
}

#contact form p:nth-of-type(4) {  
    float: right;
}

#contact textarea {
    background-color: #FFFFFF !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    color: #4a3115 !important;
    height: 100% !important;
    opacity: 0.95;
}

/*#contact .form-holder {
    padding-left: 19%;
    padding-right: 19%;
    width: 100%;
}*/

#contact .contact-input,
#contact .subtitle {
    font-size: 16px;
}

#contact .contact-input {
    border: none !important;
    font-size: 15px !important;
    font-weight: 700;
    margin-bottom: 8pt;
    max-width: 90%;
    padding: 0 !important;
}

#contact .subtitle {
    font-family: 'RobotoMedium';
    font-size: 20px;
    margin: 0;
    padding: 0 0 40pt;
    text-align: center;
}

#contact .screen-reader-response ul,
#contact .wpcf7-response-output {
    display: none;
}

#contact-container {
    display: none;
    height: 450px;
    left: 50%;
    margin-top: 20px; 
    padding: 30px 47px;
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 380px;
    z-index: 100;
}

#contact-container,
#contact-container input.submit,
#contact-container input.message {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#contact-close {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: -15px;
    top: -15px;
}

#contact-container h1 {
    font-family: 'RobotoCondensedRegular';
    font-size: 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#contact-container h2 {
    text-align: center;
    font-family: 'RobotoRegular';
    font-size: 15px;
}

#contact-container input, 
#contact-container textarea {
    border: none;
    height: 50px;
    width: 100%;
}

#contact-container input.name {
    -moz-border-top-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

#contact-container input.email {
    -moz-border-bottom-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#contact-container input.email, 
#contact-container input.name, 
#contact-container input.message {
    background: #FFFFFF;
    color: #717171;
    padding: 18px 60px 18px 18px;
} 

#contact-container input.submit {
    background: #717171;
    color: #FFFFFF;
    text-transform: uppercase;
}

#contact-container input.message {
    margin: 10px 0 5px;
}

#contact-container .bottom {
    margin: 33px 0 0 0;
}

#contact-container .bottom img {
    height: 18px;
    margin: 0 5px;
}

#contact-container .subtitle {
    margin: 14px 0 20px;
}

#contact-mail:before {
    content: "<i class='fa fa-envelope-o'></i>";
}

#contact-submit {
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    background: #51cb64 url(../img/arrow-right.png) no-repeat center center !important;
    background-size: 15% !important;
    border: none !important;
    border-radius: 3px !important;
    float: right;
    height: 100%;
    left: 0;
    margin: 0 !important;
    top: 0;
    width: 60px !important;
}

#contact-submit:hover {
    background-color: rgb(31, 153, 50) !important;
}

#footer {
    padding-top: 90px;
}

#footer .content {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

#footer .footer-bottom,
#footer .form-holder,
#footer .last-twits {
    padding: 0 7vw;
}

#footer .menu-item {
    font-size: 15px;
}

#footer .placeholder {
    display: inline;
    font-family: 'RobotoMedium';
}

#getstarted a,
#getstarted a:hover {
    text-decoration: none;
}

#header {
    left: 0;
    /*padding-top: 10px;*/
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header i {
    color: #fff;
    cursor: pointer;
    position: absolute;
    line-height: 50px;
}

#header .fa-cloud {
    font-size: 50px; 
}

#header .fa-cloud {
    position: relative;
}

#header .player {
    cursor: pointer;
    font-size: 25px; 
    height: 30px;
    left: 7vw;
    opacity: 0.3;
    position: absolute;
    width: 30px;
}

#header .player:hover {
    opacity: 1;
}

#header .player.play {
    background: url('../img/icon_play.png') no-repeat;
    background-size: contain;
    display: none;
}

#header .player.pause {
    background: url('../img/icon_stop.png') no-repeat;
    background-size: contain;
}

#landing {
    width: 100%;
    height: 100vh !important;
}

#landing h2:nth-child(1) {
    font-family: 'RobotoMedium';
    font-size: 18px;
    font-weight: 700;
}

#landing video {
    height: auto;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: auto;
}

#landing .central-button {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFFFFF;
    /*margin-top: 3vh;*/
}

#loading-search {
    display: none;
}

#loading-recent {
    display: none;
}

#main-menu {
    /*display: none;*/
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: -100vh;
    width: 100%;
    z-index: 50;
}

#main-menu .central-button {
    line-height: 40px;
    margin: 0;
}

#main-menu .delimiter,
#main-menu #home {
    display: none;
}

#main-menu .fa-times {
    cursor: pointer;
}

#main-menu .fa-times,
#main-menu .logo {
    font-size: 30px;
}

#main-menu .logo {
    position: relative;
    top: -10px;
}

#main-menu .logo a {
    text-transform: uppercase;
    font-family: 'OpenSansBold';
}

#main-menu .logo a:hover {
    text-decoration: none;
}

#main-menu .from-blog-container {
    display: table;
    float: left;
    height: 100%;
}


#main-menu .menu-left,
#main-menu .menu-right {
    height: 100%;
    opacity: 0.95;
    padding: 100px 10px 0;
}

#main-menu .menu-left {
    float: left;
    width: 70%;
    overflow: hidden;
    padding-left: 10vw;
}

#main-menu .menu-right {
    text-align: right;
    width: 30%;
    overflow: hidden;
    padding-right: 10vw;
}

#main-menu .menu-right .site-menu {
    padding-top: 25px;
}

#main-menu .menu-right .close {
    background: url('../img/close.png') no-repeat;
    background-size: cover;
    height: 20px;
    width: 20px;
    opacity: 1;
}

#main-menu .sitemap {
    margin: 0 auto;
    max-height: 90%;
    overflow: hidden;
}

#main-menu .social-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 25pt;
    width: 5vw;
}

#main-menu .social-icons {
    padding: 0;
}

#main-menu .twitter {
    height: 90px;
}

#main-menu .twitter .fa-cloud {
    float: left;
    font-size: 60px;
}

#main-menu .twitter>div {
    float: left;
}

#main-menu-bottom {
    bottom: -100%;
    cursor: pointer;
    height: 120pt;
    position: fixed;
}

#moveUp {
    background-image: url('../img/mouse-white.png');
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 20vh;
    color: #FFFFFF;
    font-size: 70px;
    font-weight: 100;
    height: 50px;
    position: fixed;
    left: calc(50% - 13px);
    width: 25px;
    z-index: 200;
}

#moveUp, 
#OpenDialogWindow {
    padding: 3px 0;
    text-decoration: none;
}

#moveUp:hover, 
#OpenDialogWindow:hover {
    color: #000;
}

#MyServices .row {
    display: block;
}

#MyServices ul {
    margin: 0;
    width: 100%;
}

#testimonies {
    background-color: rgb(169, 53, 54);
    padding-bottom: 110px;
    margin-bottom: -100px;
}

#top-panel .topHeaderQuit {
    float: right;
    margin: 7px;
    position: absolute;
}

#whoChoosesUs {
    margin: 0 auto;
    width: 100%;
}

#whoChoosesUs a, 
#whoChoosesUs h2, 
#whoChoosesUs .more-info {
    text-align: center;
}

#whoChoosesUs .more-info {
    height: 100px;
    overflow: auto; 
}

/*********************************************** Media Queries by width ******************************************/
@media (max-width: 1520px) {
    .landing-header br {
        display: none !important;
    }
}

@media (max-width: 960px) {
}

@media (max-width: 768px) {
    .case-to-top rect,
    .case-to-top .svg-title,
    .case-to-top .svg-title text,
    .case-to-top .title {
        font-size: 50px;
        height: 45px;
        line-height: 45px;
    }

    .case-to-top.sub-block h2 br {
        display: none;
    }

    .central-button {
        border: none !important;
    }

    .central-button .overlay {
        display: block !important;
        height: 100%;
        font-family: 'OpenSansBold';
    }

    .footer-bottom {
        display: none;
    }

    .landing-header {
        margin: 0 5px;
        width: calc(100% - 10px);
    }

    .landing-header h1 {
        font-size: 60px;
    }

    #main-menu .menu-right .close {
        margin: 10px 11px;
    }

    #main-menu .sitemap {
        right: 20px;
        width: auto;
    }

    #contact h4 {
        font-size: 70px;
    }

    #contact form p:nth-of-type(3), 
    #contact form p:nth-of-type(4) {
        margin: 10px 0 0 !important;
    }

    #contact p {
        float: none !important;
        height: 100% !important;
        margin-top: 10px !important;
        width: 100% !important;
    }

    #contact textarea {
        height: 200px !important;
    }

    #contact textarea::-webkit-input-placeholder {
        text-align: center;
        line-height: 150px;
    }

    #contact textarea::-moz-placeholder {
        text-align: center;
        line-height: 150px;
    }

    #contact textarea:-moz-placeholder {
        text-align: center;
        line-height: 150px;
    }

    #contact textarea:-ms-input-placeholder {
        text-align: center;
        line-height: 150px;
    }

    #contact .form-holder {
        height: 100%;
        overflow: auto;
        padding: 10px 14vw;
    }

    #contact .subtitle {
        padding: 0;
    }

    #contact-message {
        font-family: 'OpenSansRegular';
        font-size: 20px !important;
        color: #000000 !important;
    }

    #contact-submit {
        background-size: 10px !important;
        height: 50pt !important;
        width: 100% !important;
    }

/*    #header {
        top: 20px;
    }*/
}

@media (max-width: 600px) {
    #main-menu .logo {
        left: 20px;
    }

    #main-menu .menu-left {
        display: none;
    }

    #main-menu .menu-right {
        /*padding: 100px 0 0 0;*/
        width: 100%;
    }

    .bars {
        background-image: url('../img/menu-white.png');
    }

    .case-to-top rect,
    .case-to-top .svg-title,
    .case-to-top .svg-title text,
    .case-to-top .title {
        font-size: 45px;
        height: 45px;
        line-height: 45px;
    }

    .case-to-top.sub-block {
        padding: 0;
        /*padding: 9vh 0;*/
    }

    .bars {
        display: inline-block;
    }
    
    #contact h4 p {
        font-size: 40px;
    }

    #header .fa-cloud,
    #header .player {
        display: none;
    }
}

@media (max-width: 500px) {
    .case-to-top rect,
    .case-to-top .svg-title,
    .case-to-top .svg-title text,
    .case-to-top .title {
        font-size: 40px;
        height: 35px;
        line-height: 35px;
    }

    #contact-close {
        right: 0;
    }
}

@media (max-width: 480px) {
    .case-to-top rect,
    .case-to-top .svg-title,
    .case-to-top .svg-title text,
    .case-to-top .title {
        font-size: 35px;
        height: 32px;
        line-height: 32px;
    }
}

@media (max-width: 385px) {
    .case-to-top rect,
    .case-to-top .svg-title,
    .case-to-top .svg-title text,
    .case-to-top .title {
        font-size: 30px;
        height: 28px;
        line-height: 28px;
    }
}

/*********************************************** Media Queries by height ******************************************/

@media screen and (max-height: 740px) {
    .menu-item {
        font-size: 24px;
    }
}

@media screen and (max-height: 670px) {
    .menu-item {
        font-size: 23px;
    }
}

@media screen and (max-height: 620px) {
    .menu-item {
        font-size: 20px;
    }
}

/*@media screen and (max-height: 560px) {
    #main-menu .menu-case-studies {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    } 
}*/

@media screen and (max-height: 450px) {
    .menu-item {
        font-size: 18px;
    }
}

@media screen and (max-height: 400px) {
    .menu-item {
        font-size: 16px;
    }
}

@media screen and (max-height: 350px) {
    .menu-item {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    /*#contact-container .pull-right {
        float: none;
    }*/

    #contact-container input {
        width: 100%;
    }

    /*#contact-container label {
        width: 100%;
        display: inline-block;
        float: left;
        clear: both;
    }*/

    #contact-container li, p {
        width: 100%;
    }

    /*#contact-container input.btn {
        margin: 1.5em 0 0.5em;
    }*/

    #contact-container h1 {
        font-size: 2.25em;
    }

    /*#contact-container h3 {
        font-size: 1.125em;
    }*/

    /*#contact-container li small {
        display: none;
    }*/
}


/*.case-to-top.main-block .fp-tableCell, 
.case-to-top.sub-block .fp-tableCell,
.svg-title,
.svg-title mask {
    text-align: center;
}*/
